.country{
    border: 2px solid rgb(202, 162, 202);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.flag-container>img{
    width: 100px;
}

.custom-btn {
    background-color: #364343; /* Blue */
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: #178fde; /* Darker blue on hover */
  }